/* The following guid is to avoid duplicated import of this file on answer side: 28b408b4-75af-498b-a05b-0cd6d601ee53 */
a.replay-button.soundLink.current circle {
    fill: lightblue;
}

only-one.has_multiple_av_tags {
    display: block;
    border: 1px solid black;
    margin: 10px;
}